language: java
jdk:
- oraclejdk8
script: mvn clean compile package
notifications:
  email:
  - s.ploner@gmx.net
after_success:
- mvn clean test jacoco:report coveralls:report
env:
  matrix:
  - secure: iaGxn7ha137UgHNEGmCaY/g6jzGVAn6wHXF4nigUfDs56vhDg9diXwhd8+Uf/uxc0p6mZE/0nVUulW56n6eG4MYDIclV2I16C8uUn1NacdSWZI21xKX+hR79ZcgD6Bn6dL7bKsI3bqnGrhQg8pZ3h2mQQab0fXn+Jyn3IJl6ptFYMlDYbR9f6f/+YH/paTC5gT7A0QcwLwdsGtO5MSLcZiC2QMHFa6A9+2ET81U3v6Oi5IHAHMnpiMK6Vh3C/yAHP2qFwuSW1kJ1iN4CgJ3NqnhiQQc0oEsxW0PRYTDJ4m07TAOe5866mTsUyHZ2HxPCE/PQ74Yw3G3IMUe/9efkdoJjSJVqvAisFqqeN4Pbo/a2NtgDuCL8fdu5OpGKp7fGvVDHOa8WLCsodGLWR9Atfp72eAqGU+Pq5JIFlUd5XRbF81vEG3s4R9WPGTxyVcyKriQOv/rRUB87jfJmoirZPdIgRNvIgFqKwv+fVHnVvf/UByiwYxxN1Q+KGqfgThfH4l101NFLuB+zUW6vo8iAi/36gHhnrTLIYLDE5cqvFxX6VmCcvmgVPKFlRcAmdpy6GCj1jHGWsZmgqzRdjTtUVqF3el20aerQNEzcBcjHgRqEbGwOG3MNH9aJiMGW+QyyDxQ9iA53zlU7vTMvSzswumA2n7Ud5kQuV8z8OLPT5Cg=
  - secure: klOVbnPgCJ1YmrkBr8J61JymiyAIK+nviecIgOIhgCEhr3+p64XzTjRTfslf7WXENBN0kd8ZBKDHs/eOIHH29vyQAIFQSLtWaATDs/6Epuvd8AOK3wbG3Egzo78mHOGwNLQLDT3QRLbiYnQf2ILZKVHphhSf4dcVhuK02iUmspkufAl6RKoPUVagEsf9tlbIKrqvxWHys7QifIbPnRmmgtC8SHWw2r3fe4Nlio6cyg1pmP3X+ypZhzpI83TDfABtLdHKL/9ByS/N55Zq2jAC5e+1JUO3FRXtXdEipBNgg8PYs6lBXnoYO4orEnfcV1NJDZZ+DTOm8VOgA2CeOor3RsiYbYpNZSKdoVt+MA1y53Caz+6hRkOJkf2P+D34nb8F1vctX+IsVQlevjlXZecEwqSQ8GU5cMuR+NDfeZ+RPlkNxEGwXRNfXmshelTgl85LITIUgXl+Pc2YXwG2/6yl/e975jsALMrgcY1jyABop9VCm/0DNV6ZgmC8M5W7IV9RAXCT9b2PXb99lYxcqyld9sdwBjwyfEu1apOfc8ftjKUmkG/esOqyYytzF31qycbkQCpB92Ds4AoSFmeKrIqJJnG6PmNvU7KIZHCcE7UaS+08FMe+gxklxz3QPLUaOiQS/CVEIWxe5u5Gi+8V4qUWknsNvqqOKhzM0Dd9PcAYPlo=
