<?xml version="1.0" encoding="UTF-8"?>


<configuration>

    <contextName>cmbot</contextName>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%15.15t] %-30.40logger{39}: %msg%n
            </pattern>
        </encoder>
    </appender>


    <appender name="STASH" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/cmbot.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/cmbot.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>2000</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <root level="ERROR">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="STASH" />
    </root>

</configuration>